<html lang='en'>
	<head>
		<meta charset='UTF-8' />
		<meta http-equiv='X-UA-Compatible' content='IE=edge' />
		<meta name='viewport' content='width=device-width, initial-scale=1.0' />
		<title>Welcome</title>
	</head>
	<body style='display: flex; justify-content: center'>
		<div style='max-width: 900px; width: 100%; padding: 40px 0;'>
			<div>
				<h1 style='font-size: 25px; text-align: center;'>{{name}}, Welcome to Sportika Shop</h1>
			</div>

			<div style='display: flex'>
				<img
					style='width: 160px; height: auto; margin: 20px auto'
					src='https://res.cloudinary.com/dlz1bhh8j/image/upload/v1672172814/sportika/umqc76hrwnckyxwwiy2z.png'
				/>
			</div>

			<div>
				<p
					style='
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
      '
				>
					Now you can buy all what you need to practice your favorite sport :)
				</p>
			</div>
		</div>
	</body>
</html>