.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 650px;
}

@media (max-width: 400px) {
  .each-slide > div {
    height: 270px;
  }
}

@media all and (max-width: 500px) and (min-width: 401px) {
  .each-slide > div {
    height: 320px;
  }
}

@media all and (max-width: 600px) and (min-width: 501px) {
  .each-slide > div {
    height: 380px;
  }
}

@media all and (max-width: 750px) and (min-width: 601px) {
  .each-slide > div {
    height: 500px;
  }
}

@media all and (max-width: 900px) and (min-width: 751px) {
  .each-slide > div {
    height: 650px;
  }
}

@media all and (max-width: 1200px) and (min-width: 901px) {
  .each-slide > div {
    height: 580px;
  }
}

.each-slide-home > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}

@media (max-width: 600px) {
  .each-slide-home > div {
    display: 'none';
  }
}

@media all and (max-width: 750px) and (min-width: 601px) {
  .each-slide-home > div {
    height: 250px;
  }
}

@media all and (max-width: 900px) and (min-width: 751px) {
  .each-slide-home > div {
    height: 320px;
  }
}

@media all and (max-width: 1200px) and (min-width: 901px) {
  .each-slide-home > div {
    height: 380px;
  }
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
